body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex; /* Corrected value */
    font-family: Arial, sans-serif;
}

.images-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: rgba(209, 209, 209, 0.9);
}

.image-container {
    width: 250px;
    height: 250px;
    margin: 0 40px;
    position: sticky;/* Changed from sticky to relative */
    cursor: grab;
}

#essayButton {
    padding: 0;
    border: none;
    background: none;
    cursor: help;
    position: absolute;
    top: 10px;
    right: 100px;
}

.hidden-textbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    border: none;
    background-color: #f9f9f9;
    resize: none;
    overflow: auto;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.5;
    color: #b9a775;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    cursor: not-allowed
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.image-container:hover img {
    animation: wobble 0.5s cubic-bezier(0.1, 0.2, 1, 1);
}

@keyframes wobble {
    0% { transform: translateX(0%); }
    15% { transform: translateX(-1%) rotate(-1deg); }
    30% { transform: translateX(0%) rotate(0deg); }
    45% { transform: translateX(1%) rotate(1deg); }
    60% { transform: translateX(0%) rotate(0deg); }
    75% { transform: translateX(-0.5%) rotate(0deg); }
    100% { transform: translateX(0%); }
}

.hidden-text {
    display: none;
    position: static;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 200%;
    background-color: transparent;
    box-sizing: content-box; /* Corrected value */
    overflow: auto;
   font-size: larger;
   color: white
}

.hidden-text::-webkit-scrollbar {
    display: none;
}

.hidden-text {
    scrollbar-width: none; /* Firefox */
}

.hidden-text {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

h3 {
    margin-top: 0;
}



/* Mobile Styles */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: flex-start;
    }

    #essayButton {
        position: static;
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .images-row {
        margin-top: 10px; /* Remove margin since button is above */
        order: 1;
    
    }

    .image-container {
        width: 100%;
        margin-bottom: 0px;
        padding: 50px;
    }

    .image-container img {
        width: 100%;
        height: cover;
        padding: 40px;
    }

    .hidden-text {
        position: sticky;
        background: none;
        padding: 40px 0;
        display: none;
    }
}